<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/4cbee753b6.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@100&display=swap"
        rel="stylesheet">
</head>

<body>
    <header class="main-header">
        <div class="top-bar">
            <div class="logo">
                <h1> FROLAN </h1>
                <p> Expertos en productos de limpieza</p>
            </div>

            <div>
                <h2 class="copy-header">
                    <i class="fa-solid fa-hand-holding-dollar"></i>
                    Compras por mayor y por menor
                </h2>
            </div>

        </div>

        <a href="" class="hamburguesa">
            <i class="fa-solid fa-bars"></i>
        </a>

        <nav class="bottom-bar">
            <ul class="left-navbar">

                <li><a href="/login"> Ingresa </a> <i class="fa-solid fa-right-to-bracket"></i> </li>
                <li><a href=""> Crea tu cuenta </a> <i class="fa-regular fa-id-badge"></i> </li>
                <li><a href=""> Mis compras </a> <i class="fa-sharp fa-solid fa-cart-shopping"></i> </li>

            </ul>


        </nav>


    </header>

    <div class="principal">

        <div class="catalogo">
            <a href="">CÀTALOGO</a>
        </div>

        <div class="ofertas">
            <a href="">OFERTAS</a>
        </div>
    </div>






    <footer>

        <div class="pie-pagina">

            <div class="logo">
                <h1> FROLAN </h1>
                <p> Expertos en productos de limpieza</p>
            </div>

            <div class="iconos">
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-youtube"></i>
                <i class="fa-brands fa-twitter"></i>
            </div>


        </div>



        <div class="pie-pagina2">

            <div class="detalles"> 
                <h1>Frolan</h1>
                <ul>
                    <li><a href="">Quienes somos</a></li>
                    <li><a href="">Trabaja con nosotros</a></li>
                </ul>
            </div>

            <div>
                <h1>Compra online</h1>
                <ul>
                    <li><a href="">Como comprar</a></li>
                    <li><a href="">Formas de pago</a></li>
                    <li><a href="">Metodos de envio</a></li>
                    <li><a href="">Cambios y devoluciones</a></li>
                    <li><a href="">Preguntas generales</a></li>

                </ul>
            </div>

            <div>
                <h1>AYUDA</h1>
                <ul>
                    <li><a href="">Contactanos</a></li>
                    <li><a href="">Terminos y condiciones</a></li>
                    <li><a href="">Politica de privacidad</a></li>
                    <li><a href="">Bases y condiciones</a></li>



                </ul>
            </div>
           
          
            <div>

                                           
                <h1><i class="fa-solid fa-shield"></i> Compra 100% segura</h1> 
                <p>Frolan garantiza la seguridad transaccional  <br> de sus clientes.
                    Defensa de los y las <br> consumidores/as: por consultas y/o denuncias <a href="">ingrese aca</a>   
                    en CABA <br> o <a href="">aca</a> en el resto de pais</p>
            </div>         


        </div>


        <div class="pie-pagina3">
            <p>Copyright @ 2022 - Frolan. Todos los derechos reservados. Dionispa S.A. - CUIT: 30-71095145-0 - Pacheco
                3144,
                CABA.
                Telefono de contacto: 0800-444-7373</p>
        </div>


    </footer>



</body>



</html>