<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/4cbee753b6.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@100&display=swap"
        rel="stylesheet">
</head>

<body>
    <header class="main-header">
        <div class="top-bar">
            <div class="logo">
                <h1> FROLAN </h1>
                <p> Expertos en productos de limpieza</p>
            </div>

            <div>
                <h2 class="copy-header">
                    <i class="fa-solid fa-hand-holding-dollar"></i>
                    Compras por mayor y por menor
                </h2>
            </div>

        </div>

        <a href="" class="hamburguesa">
            <i class="fa-solid fa-bars"></i>
        </a>

        <nav class="bottom-bar">
            <ul class="left-navbar">

                <li><a href=""> Ingresa </a> <i class="fa-solid fa-right-to-bracket"></i> </li>
                <li><a href=""> Crea tu cuenta </a> <i class="fa-regular fa-id-badge"></i> </li>
                <li><a href=""> Mis compras </a> <i class="fa-sharp fa-solid fa-cart-shopping"></i> </li>

            </ul>


        </nav>


    </header>

    <form action="/login" method="post" class="formulario">
        <div>
            <label> Nombre de usuario </label>
            <input type="text" name="Nombre">
        </div>

        <div>
            <label> Contraseña </label>
            <input type="password" name="contra">
        </div>

        <div>
            <button type="submit" class="boton"> Enviar </button>
        </div>

    </form>

</body>

</html>